.today-weather-info{
    display: flex;
    margin-left: 50px;
    font-size: 2rem;
    font-weight: 350;
}

.sol-box{
    padding-right: 80px;
}

.sol-box span:nth-child(1){
    font-weight: bold;
}

.hi-lo-temp{
}